</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>
      (App Brewery's Challenge) HTML + CSS Template made by The App Brewery && Node part was coded by Ny</p>
  </div>
</div>
</body>
</html>
